<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Perubahan directorate</h2>
        <ol class="breadcrumb">
            <li>
                <%= link_to 'Home', root_path %>
            </li>
            <li>
                <%= link_to 'directorates', '/directorates' %>
            </li>
            <li>
                <strong>Perubahan</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">
        
    </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">
	<%= render 'form' %>
	<%= link_to directorates_path, class: 'btn btn-danger' do %>
		Back
	<% end %>
	<%= link_to @directorate, class: 'btn btn-info' do %>
		<span class="glyphicon glyphicon-info-sign"></span>
		Show
	<% end %>
</div>