<% concat ("<div class='alert alert-success alert-dismissable' id='notice'>" + notice + "</div>").html_safe if !notice.nil? %>

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Daftar Disposisi</h2>
        <ol class="breadcrumb">
            <li>
                <%= link_to 'Home', root_path %>
            </li>
            <li>
                <strong>dispositions</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">
        
    </div>
</div>

<div class="ibox float-e-margins">
    <div class="ibox-title">
        <h5>Disposisi</h5>
        <div class="ibox-tools">
            <!-- <a class="collapse-link">
                <i class="fa fa-chevron-up"></i>
            </a>
            <a class="dropdown-toggle" data-toggle="dropdown" href="table_basic.html#">
                <i class="fa fa-wrench"></i>
            </a> -->
            <!-- <ul class="dropdown-menu dropdown-user">
                <li><a href="table_basic.html#">Config option 1</a>
                </li>
                <li><a href="table_basic.html#">Config option 2</a>
                </li>
            </ul> -->

            <!-- 
            <a class="close-link">
                <i class="fa fa-times"></i>
            </a> -->
        </div>
    </div>
    <div class="ibox-content" style="display: block;">
        <div class="table-responsive">
          <table class="table table-striped table-bordered table-hover">
            <thead>
              <tr>
            
                <th>Nomor</th>
            
                <th>Nomor Surat</th>
            
                <th>Instruksi</th>
            
                <th>Tgl</th>

                <th>Pemberi</th>


                <th>Status</th>
            
                <th></th>
              </tr>
            </thead>

            <tbody>
              <%= content_tag_for(:tr, @dispositions) do |disposition| %>
            
                <td><%= disposition.nomor %></td>
            
                <td><%= disposition.letter_id %></td>
            
                <td><%= disposition.instruksi %></td>
            
                <td><%= disposition.tgl %></td>
            
                <td><%= disposition.pemberi %></td>

                <td><%= disposition.status %></td>
            
                <td><%= link_to '<i class="fa fa-eye"></i>'.html_safe, disposition %></td>
                <% end %>
            </tbody>
          </table>
        </div>
    </div>
</div>

<br>
