<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>delegation Detail</h2>
        <ol class="breadcrumb">
            <li>
                <%= link_to 'Home', root_path %>
            </li>
            <li>
                <%= link_to 'delegations', '/delegations' %>
            </li>
            <li>
                <strong>Detail</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">
        
    </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">
  <div class="row">
    <div class="ibox float-e-margins">
      <div class="ibox-title">
          <h5>Informasi Detail</h5>
          <div class="ibox-tools">
              <%= link_to edit_delegation_path(@delegation) do %>
                <span class="fa fa-edit"></span>
                Edit
              <% end %>
          </div>
      </div>
      <div class="ibox-content" style="display: block;">
        <table class="table table-bordered">

            <tr>
              <td><strong>Nomor:</strong></td>
              <td><%= @delegation.nomor %></td>
            </tr>

            <tr>
              <td><strong>Mulai:</strong></td>
              <td><%= @delegation.mulai %></td>
            </tr>

            <tr>
              <td><strong>Selesai:</strong></td>
              <td><%= @delegation.selesai %></td>
            </tr>

            <tr>
              <td><strong>Pemberi:</strong></td>
              <td><%= @delegation.pemberi %></td>
            </tr>

            <tr>
              <td><strong>Cost centre pemberi:</strong></td>
              <td><%= @delegation.cost_centre_pemberi_id %></td>
            </tr>

            <tr>
              <td><strong>Penerima:</strong></td>
              <td><%= @delegation.penerima %></td>
            </tr>

            <tr>
              <td><strong>Cost centre penerima:</strong></td>
              <td><%= @delegation.cost_centre_penerima_id %></td>
            </tr>

            <tr>
              <td><strong>Keterangan:</strong></td>
              <td><%= @delegation.keterangan %></td>
            </tr>

        </table>

        <%= link_to delegations_path, class: 'btn btn-danger' do %>
          Back
        <% end %>
      </div>
    </div>
  </div>
</div>

